:root, html {
  font-family: sans-serif;
  background-color: #fff;
  --reddit-red: #c41704;
}

body {
  margin: 0px;
  overflow-x: hidden;
}


.toolbar {
  height: 40px;
  width: 100%;
  display: inline-block;
}

.node circle {
  stroke-width: 2px;
  cursor: pointer;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.post-title {
  margin: 0px;
}

#subreddit-banner-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subreddit-feed-name {
  display: flex;
  gap: 10px;
  align-items: center;
}

#subreddit-feed {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

#subreddit-info {
  width: 30%;
  padding: 0px 10px;
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
}

#subreddit-info h1 {
  font-size: 1.5em;
}

#subreddit-info h2 {
  font-size: 1.15em;
}

#subreddit-posts-container {
  width: 70%;
  padding: 0px 30px;
}

.post-preview {
  display: flex;
  flex-direction: column;
}

.post-preview-header {
  display: flex;
  gap: 10px;
}

.post-preview-body {
  display: flex;
  flex-direction: column;
}

.post-preview-title {
  font-weight: bold;
}

.post-stats {
  display: flex;
  gap: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-decoration: underline;
  text-decoration-color: var(--reddit-red);
  background-color: transparent;
  border: none;
  color: black;
  font-size: inherit;
  text-decoration-thickness: 3px;
  cursor: pointer;
  text-align: start;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

#post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#graph-container {
  height: 500px;
  width: 100%;
}

#goal-banner {
  position: sticky;
  top: 0;
  background-color: var(--reddit-red);
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  font-size: .6em;
}

#goal-banner h1 {
  margin: 0px;
  text-align: center;
  justify-content: center;
}

#goal-text {
  flex-grow: 2;
  justify-content: center;
  display: flex;
  align-items: center;
}

#goal-text button {
  color: white;
  font-size: inherit;
  text-decoration-color: white;
  margin-right: 8px;
  font-weight: bold;
}

.menu-button {
  color: white;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}
