.toolbar {
  height: 40px;
  width: 100%;
  display: inline-block;
}

.node circle {
  stroke-width: 2px;
  cursor: pointer;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
