:root, html {
  font-family: sans-serif;
  background-color: #fff;
  --reddit-red: #E22E02;
  scrollbar-gutter: stable;
}

body {
  margin: 0px;
}

#main-page {
  height: 100vh;
}


.toolbar {
  height: 40px;
  width: 100%;
  display: inline-block;
}

.node circle {
  stroke-width: 2px;
  cursor: pointer;
}

.node text {
  font: 12px sans-serif;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.post-title {
  margin: 0px;
}

#subreddit-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  overflow-x: clip;
  overflow-y: clip;
  margin-bottom: 10px;
}

#subreddit-feed-name {
  display: flex;
  gap: 10px;
  align-items: center;
}

#subreddit-feed {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 0px 20px;
  max-width: 100%;
}

#subreddit-info {
  width: 35%;
  padding-right: 30px;
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
  overflow-x: hidden;
}

#subreddit-info h1 {
  font-size: 1.5em;
}

#subreddit-info h2 {
  font-size: 1.15em;
}

#subreddit-posts-container {
  width: 65%;
  padding: 0px 30px;
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: normal;
}

.post-preview {
  display: flex;
  flex-direction: column;
}

.post-preview-header {
  display: flex;
  gap: 10px;
}

.post-preview-body {
  display: flex;
  flex-direction: column;
}

.post-preview-title {
  font-weight: bold;
}

.post-stats {
  display: flex;
  gap: 10px;
}

.post-thumbnail {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-decoration: underline;
  text-decoration-color: var(--reddit-red);
  background-color: transparent;
  border: none;
  color: black;
  font-size: inherit;
  text-decoration-thickness: 3px;
  cursor: pointer;
  text-align: start;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

#post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.preview-body-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 100px;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#graph-container {
  height: 500px;
  width: 100%;
}

#menu {
  position: sticky;
  top: 0px;
  background-color: white;
}

.menu-popup {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  z-index: 1;
  width: 100%;
}

#how-to {
  padding: 40px;
}

#goal-banner {
  position: sticky;
  top: 0;
  background-color: var(--reddit-red);
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 10px;
  font-size: .6em;
}

#goal-banner h1 {
  margin: 0px;
  text-align: center;
  justify-content: center;
}

#goal-text {
  flex-grow: 2;
  justify-content: center;
  display: flex;
  align-items: center;
}

#goal-text button {
  color: white;
  font-size: inherit;
  text-decoration-color: white;
  margin-right: 8px;
  font-weight: bold;
}

.menu-button {
  color: white;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

#user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

#user-profile-feed {
  width: 80%;
  max-width: 800px;
  padding: 10px 30px;

}

.tabs {
  display: flex;
  gap: 10px;
  margin-top: 10px
}

.tabs button {
  background-color: white;
  border-radius: 20px;
  border: none;
  color: black;
  font-size: inherit;
  cursor: pointer;
  text-align: start;
  padding: 10px;
  text-decoration: none;
}

.tabs .currentTab {
  background-color: #C9D7DE;
}


/* HTML: <div class="loader"></div> */
#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  opacity: 0.8;
  height: 500px;
  justify-content: center;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: 0 0 15px 15px;
  --c: #0000 calc(100%/3), var(--reddit-red) 0 calc(2*100%/3), #0000 0;
  --c1: linear-gradient(90deg, var(--c));
  --c2: linear-gradient(0deg, var(--c));
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 4px, 4px 300%;
  background-repeat: no-repeat;
  animation: l12 2s infinite linear;
  opacity: 0.8;
}

.loader:after {
  margin: 15px 15px 0 0;
  transform: scale(-1, -1);
}

@keyframes l12 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0
  }

  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0
  }

  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0
  }

  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%
  }

  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%
  }

  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%
  }
}

#win-card {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 0px 20px;
  align-items: center;
}

#win-card h1 {
  font-size: 1.5em;
}

#win-button-container > button {
  border: 1px solid grey;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
}
